<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>ISDB - Séries, NETFLIX e Celebridades</title>
      <link rel="icon" href="imgs/favicon.ico" type="image/x-icon">

<!-- ------------------------------------------------------------------------------------------------------ -->
    <!-- Fonte -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="../static/css/estilo.css" rel="stylesheet">

      <script>


          $(document).ready(function(){

            $("#idserie").click( function(){
                clearOptions()

                var idserie = $("#idserie option:selected" ).val();


                     $.getJSON("http://127.0.0.1:5000/temporada1?idserie="+idserie, function( data ) {

                          for( i in data){
                            $('#idtemporada').append($('<option>', {
                                value:data[i].substring(5),
                                text: data[i].substring(0, 4)
                            }));
                           }//for
                      });//getJSON

          });//click

        });//ready

          function clearOptions(){
                  var select = document.getElementById('idtemporada');
                  var length = select.options.length;
                  for (i = 0; i < length; i++) {
                     select.options[i] = null;
                  }

        }

      </script>
  </head>
  <body data-spy="scroll" data-target=".menu-navegacao" data-offset="100">
<!-- ------------------------------------------------------------------------------------------------------ -->

<!-- ------------------------------------------  Menu da aplicação ---------------------------------------- -->
      <nav class="navbar navbar-inverse navbar-fixed-top navbar-transparente" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu-navegacao">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand img-logo"></a>
            </div>

            <div class="collapse navbar-collapse menu-navegacao" id="menu-navegacao">

                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                            <input type="text" class="form-control" placeholder="Busca...">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-primary">Buscar</button>
                        </span>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#page-top"></a></li>
                    <li><a class="" href="">voltar</a></li>
                    <li><a class="" href="series">Séries</a></li>
                    <li><a class="" href="artistas">Artistas</a></li>
                    <li><a class="" href="netflix.html">Netflix</a></li>
                </ul>
            </div>
        </div>
      </nav>
<!-- --------------------------------------------------------------------------------------------------- -->

<!-- ----------------------------------------- banner de artistas -------------------------------------- -->

      <section id="artistas">
          <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-header"><h1>{{artista.nome}} <small> <i>quem ele é</i></small></h1></div>
                </div>
            </div>
              <br>

            <!-- Linha Um -->
                <div class="row artista_row">
                    <div class="col-sm-6">
                        <img src="{{artista.foto}}" class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                         <div class="artista_item">
                             <h3>Nome: {{artista.nome}}</h3><br>
                             <h4>Data de Nascimento: {{artista.datanascimento}}</h4>
                             <h4>Nascionalidade: {{artista.nascionalidade}}</h4>
                             <h3>Biografia: </h3>
                             <h4 align="left">{{artista.biografia}}</h4>
                        </div>
                    </div>
                </div>
              <br /><br /><br /><br />

              <h2>Trabalhos recentes...</h2><hr><br /><br />
              <div class="row artista_row">
                {% for serie in series %}
                    <div class="col-sm-2">
                        <a href="serie?idserie={{serie.idserie}}"><img src={{serie.banner}} class="img-responsive"></a>
                         <div class="artista_item">
                            <h4>{{serie.nome}}</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>

              </div>

          </div>

      </section>
<!-- --------------------------------------- // banner de artistas -------------------------------------- -->

<!-- ---------------------------------------------- Sumário --------------------------------------------- -->

<!-- -------------------------------------------- // Sumário -------------------------------------------- -->
<hr />
<!-- ---------------------------------------- Cadastro de artista --------------------------------------- -->

      <section id="cadastro" class="div_colorida">
          <div class="container">
              <div class="row clearfix">
                  <div class="col-md-12 column">
                      <div class="page-header">
                        <h1>Trabalhos <small><i> sentiu a falta de algum trabalho? Seja um colaborador... adicione mais informações</i></small></h1>
                      </div>
                  </div>
                  <div class="col-md-12 column">
                      <div class="jumbotron">
                        <div class="row cadastro">
                            <div class="col-xs-12">


                                <form class="form-group" action="/cadastroTrabalho">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">

                                                <div class="col-xs-4">
                                                    <label>nome do ator: </label>
                                                        <select name="idator">
                                                                <option value="{{artista.idator}}">{{artista.nome}}</option>
                                                        </select>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>nome da série: </label>
                                                        <select name="idserie" id="idserie">
                                                            {% for serie in todaSeries %}
                                                                <option value="{{serie.idserie}}">{{serie.nome}}</option>
                                                            {% endfor %}
                                                        </select>
                                                </div>
                                                <div class="col-xs-4">
                                                    <label>Temporada: </label>
                                                         <span id="sel"></span>
                                                            <select name="idtemporada" id="idtemporada">
                                                                    <option value="idtemporada">Temporada...</option>
                                                            </select>
                                                </div>
                                            </div>
                                       <div class="row">
                                        <!-- <div class="col-sm-6">
                                            <div class="alert alert-success">Envio realizado!</div>
                                        </div>
                                        -->
                                        <br />
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-success btn-lg">Cadastra</button>
                                        </div>
                                    </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
     </section>
<!-- ------------------------------------ // Cadastro de artista --------------------------------------- -->

<!-- ----------------------------------- rodapé com informações gerais---------------------------------- -->
    <!-- Rodape -->
    <footer id="rodape">
      <div class="container">
        <div class="row">

          <div class="col-md-2">
            <span class="img-logo">ISDB</span>
          </div>
            <div class="col-md-8">
                <ul class="nav">
                    <div class="col-md-2">
                        <li class="item-rede-social"><a href=""><img src="../static/imgs/facebook.png"></a></li>
                    </div>
                    <div class="col-md-2">
                        <li class="item-rede-social"><a href=""><img src="../static/imgs/twitter.png"></a></li>
                    </div>
                    <div class="col-md-1">
                        <li class="item-rede-social"><a href=""><img src="../static/imgs/instagram.png"></a></li>
                    </div>
                </ul>
            </div>

            <div class="col-md-2 text-right nav">
                <small>Desenvolvido por:</small><br/>
                <strong>Jefté Alves Lira de Araujo</strong>
            </div>

        </div><!-- /row -->
      </div>
    </footer>

<!-- ------------------------------ // barra de informações gerais --------------------------------------- -->

<!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>

  </body>
</html>